categories = STATION|LIST|IRRELEVANT
category_prompt = "Respond with a categorization into STATION, LIST and IRRELEVANT for the following website, where STATION signifies a website of an animal rescue station, LIST a website that lists those stations and IRRELEVANT everything else. Only answer with the category, the categories are mutually exclusive."
category_max_tokens = 20
category_model_path = "models/Qwen3.5-4B-UD-Q4_K_XL.gguf"

list_prompt = "Extract the following fields from the listed animal rescue stations as JSON. Leave out fields you cannot fill with the provided information. accepted_animals should be a list of animals out of the provided animal options. description should only be filled, if there is a description present for the station. linked_urls should be a list of urls listed on the website, not linking one of the stations."
list_max_tokens = 40
list_use_different_model = False
list_model_path = "models/Qwen3.5-4B-UD-Q4_K_XL.gguf"
list_check_station_urls = True
list_check_linked_urls = True

single_prompt = "Extract the following fields from this animal rescue station website as JSON. Leave out fields you cannot fill with the provided information. accepted_animals should be a list of animals out of the provided animal options. description should only be filled, if there is a description present for the station. linked_urls should be a list of urls listed on the website. station_url should be left empty."
single_max_tokens = 30
single_use_different_model = False
single_model_path = "models/Qwen3.5-4B-UD-Q4_K_XL.gguf"
single_check_linked_urls = True

fields = {"station_url": "string",
    "name": "string",
    "address": "string",
    "e-mail": "string",
    "telephone": "string",
    "mobile": "string",
    "accepted_animals": "list",
    "description": "string",
    "linked_urls": "list"
    }

animal_options = ""